<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>API Dashboard - MyShortUrl</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        .card {
            margin: 1px 0;
            padding: 10px;
            border-width: 1px;
        }

        .card-title {
            margin-bottom: 2px;
        }

        .card-body {
            padding: 10px;
        }

        .card-body > *:not(:last-child) {
            margin-bottom: 5px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>

        $.ajax({
            url: '/api/config',
            success: function(data) {
                appBaseUrl = data.baseUrl;
            }
        });
        $(document).ready(function() {
            $('#generateTokenBtn').click(function() { generateToken(); });
            $('#copyTokenBtn').click(function() { copyToken(); });

            $('#apiEndpoint').change(function() {
                var selectedOption = $(this).val();
                if (selectedOption === '/authenticate') {
                    $('#apiKeyContainer').hide();
                    $('#sendRequestBtn').hide();
                    updateCurlInstructionsForAuthenticate();
                } else {
                    $('#apiKeyContainer').show();
                    $('#sendRequestBtn').show();
                    updateCurlInstructions();
                }
                updateRequestInputFields();
                updateApiDescription();
                $('#apiResponse').empty();
            });

            $('#sendRequestBtn').click(function() { sendApiRequest(); });

            updateRequestInputFields();
            $('#apiEndpoint').change();
            updateCurlInstructionsForAuthenticate();
        });



        function generateToken() {
            var username = $('#username').val();
            var password = $('#password').val();
            var authRequest = { username: username, password: password };

            $.ajax({
                url: '/authenticate',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(authRequest),
                success: function(data) {
                    var token = 'Bearer ' + data.jwt;
                    $('#tokenValue').val(token);
                    $('#copyTokenBtn').prop('disabled', false);
                    $('#messageArea2').text('Token Generated!').show();
                },
                error: function(response) {
                    $('#messageArea2').text('Failed to generate token incorrect username/password!').show();
                }
            });
        }

        function copyToken() {
            var copyText = document.getElementById("tokenValue");
            copyText.select();
            document.execCommand("copy");
            alert("Copied the token: " + copyText.value);
        }

        function updateRequestInputFields() {
            var selectedOption = $('#apiEndpoint').val();
            $('#apiRequestInputs').empty();

            switch (selectedOption) {
                case '/api/url/generateCustom':
                    $('#apiRequestInputs').append('<div class="form-group"><label for="originalUrl">Original URL:</label><input type="text" id="originalUrl" class="form-control"></div><div class="form-group"><label for="backHalf">Back Half:</label><input type="text" id="backHalf" class="form-control"></div>');
                    break;
                case '/api/url/generateRandom':
                    $('#apiRequestInputs').append('<div class="form-group"><label for="originalUrlRandom">Original URL:</label><input type="text" id="originalUrlRandom" class="form-control"></div>');
                    break;
                case '/api/url/disableUrl':
                    $('#apiRequestInputs').append('<div class="form-group"><label for="shortUrlInput">Short URL:</label><input type="text" id="shortUrlInput" class="form-control"></div>');
                    break;
                default:
                    break;
            }
        }

        function sendApiRequest() {
            var token = $('#apiKey').val();
            var endpoint = $('#apiEndpoint').val();
            var requestData = {};
            var requestType = 'POST';

            if (!token) {
                $('#messageArea').text("Please generate a token before making an API call.").show();
                return;
            } else {
                $('#messageArea').text("Request Successful").show();
            }

            if (endpoint === '/api/url/generateCustom') {
                var originalUrl = $('#originalUrl').val();
                var backHalf = $('#backHalf').val();
                if (!originalUrl || !backHalf) {
                    $('#messageArea').text("Error: Please fill in all required fields.").show();
                    return;
                }
                requestData = { originalUrl: originalUrl, backHalf: backHalf };
            } else if (endpoint === '/api/url/generateRandom') {
                var originalUrlRandom = $('#originalUrlRandom').val();
                if (!originalUrlRandom) {
                    $('#messageArea').text("Error: Please fill in the Original URL field.").show();
                    return;
                }
                requestData = { originalUrl: originalUrlRandom };
            } else if (endpoint === '/api/url/disableUrl') {
                var shortUrlInput = $('#shortUrlInput').val();
                if (!shortUrlInput) {
                    $('#messageArea').text("Error: Please fill in the Short URL field.").show();
                    return;
                }
                requestData = { shortUrl: shortUrlInput };
            } else {
                requestType = 'GET';
            }

            $.ajax({
                url: endpoint,
                type: requestType,
                contentType: 'application/json',
                headers: { 'Authorization': token },
                data: requestType === 'POST' ? JSON.stringify(requestData) : {},
                success: function(response) {
                    $('#apiResponse').text(JSON.stringify(response, null, 2));
                },
                error: function(response) {
                    $('#apiResponse').text('Error: ' + JSON.stringify(response.responseJSON, null, 2));
                }
            });
        }

        function updateCurlInstructions() {
            var selectedOption = $('#apiEndpoint').val();
            var baseUrl = appBaseUrl;
            var curlCommand = "curl -X ";
            var endpoint = baseUrl + selectedOption;
            var token = "<YOUR_TOKEN>"; // Placeholder for the token
            var dataString = "";

            switch (selectedOption) {
                case '/api/url/generateCustom':
                    curlCommand += "POST ";
                    dataString = '{"originalUrl": "<originalUrl>", "backHalf": "<backHalf>"}';
                    break;
                case '/api/url/generateRandom':
                    curlCommand += "POST ";
                    dataString = '{"originalUrl": "<originalUrl>"}';
                    break;
                case '/api/url/disableUrl':
                    curlCommand += "POST ";
                    dataString = '{"shortUrl": "<shortUrl>"}';
                    break;
                default:
                    curlCommand += "GET ";
                    break;
            }

            curlCommand += endpoint + " \\\n" +
                "-H 'Authorization: Bearer " + token + "' \\\n" +
                "-H 'Content-Type: application/json' \\\n" +
                "-d '" + dataString + "'";
            $('#curlInstructions').text(curlCommand);
        }

        function updateCurlInstructionsForAuthenticate() {
            var curlCommand = "curl -X POST " +
                appBaseUrl + "/authenticate \\\n" +
                "-H 'Content-Type: application/json' \\\n" +
                "-d '{\"username\": \"<username>\", \"password\": \"<password>\"}'";
            $('#curlInstructions').text(curlCommand);
        }


        function updateApiDescription() {
            var selectedOption = $('#apiEndpoint').val();
            var descriptionText = '';

            switch (selectedOption) {
                case '/authenticate':
                    descriptionText = 'Generate token';
                    break;
                case '/api/url/active':
                    descriptionText = 'Get Active URLs: Retrieves a list of URLs that are currently active for the user.';
                    break;
                case '/api/url/inactive':
                    descriptionText = 'Get Inactive URLs: Fetches a list of URLs that are no longer active for the user.';
                    break;
                case '/api/url/generateRandom':
                    descriptionText = 'Generate Random Short URL: Creates a new short URL with a randomly generated back-half.';
                    break;
                case '/api/url/generateCustom':
                    descriptionText = 'Generate Custom Short URL: Allows the user to create a short URL with a custom back-half.';
                    break;
                case '/api/url/disableUrl':
                    descriptionText = 'Disable URL: Deactivates a specified short URL, making it inactive.';
                    break;
                default:
                    descriptionText = 'Select an API Endpoint to view its description.';
                    break;
            }
            $('#apiDescription').text(descriptionText);
        }
    </script>
</head>
<body>
<header class="bg-info text-white py-3">
    <div class="container d-flex justify-content-between">
        <h1>API Dashboard</h1>
        <a th:href="@{/dashboard}" class="btn btn-primary">Back to Dashboard</a>
    </div>
</header>

<div class="container mt-4">
    <div id="messageArea2" class="alert alert-warning" style="display: none;"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" class="form-control" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>&nbsp;</label>
                <button id="generateTokenBtn" class="btn btn-success btn-block">Generate New Token</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="text" id="tokenValue" class="form-control" readonly>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <button id="copyTokenBtn" class="btn btn-outline-secondary btn-block" disabled>Copy</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Test API Endpoints</h5>
            <div id="messageArea" class="alert alert-warning" style="display: none;"></div>
            <select id="apiEndpoint" class="form-control mb-2">
                <option value="/authenticate" selected>Authenticate</option>
                <option value="/api/url/active">Get Active URLs</option>
                <option value="/api/url/inactive">Get Inactive URLs</option>
                <option value="/api/url/generateRandom">Generate Random Short URL</option>
                <option value="/api/url/generateCustom">Generate Custom Short URL</option>
                <option value="/api/url/disableUrl">Disable URL</option>
            </select>
            <div id="apiKeyContainer" style="display: none;">
                <div class="form-group">
                    <label for="apiKey">API Key:</label>
                    <input type="text" id="apiKey" class="form-control" placeholder="Enter your API key here">
                </div>
            </div>
            <div id="apiRequestInputs"></div>
            <button id="sendRequestBtn" class="btn btn-primary">Send Request</button>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">API Description</h5>
            <p id="apiDescription" class="bg-light p-3">Select an API Endpoint to view its description.</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">CURL Instructions</h5>
            <pre id="curlInstructions" class="bg-light p-3"></pre>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Response</h5>
            <pre id="apiResponse" class="bg-light p-3"></pre>
        </div>
    </div>
</div>
</body>
</html>
