<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dashboard - MyShortUrl</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <style>
        .mb-3 { margin-bottom: 15px; }
        .d-flex { display: flex; }
        .align-items-center { align-items: center; }
        .justify-content-between { justify-content: space-between; }
        .bold { font-weight: bold; }
        .button-group { margin-top: 10px; }
        .qr-code-img { max-width: 100%; height: auto; margin-top: 15px; }
        .btn-refresh-spacing {margin-right: 165px;}
    </style>
</head>
<body>
<header class="bg-info text-white text-center py-4">
    <div class="container d-flex justify-content-between align-items-center">
        <h1>Dashboard</h1>
        <div class="button-group">
            <a th:href="@{/api-docs}" class="btn btn-primary">API Docs</a>
            <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="bold">Welcome, <span th:text="${username}">Username</span>!</h2>
                <div class="button-group">
                    <a th:href="@{/active-urls}" class="btn btn-primary">Active URLs</a>
                    <a th:href="@{/inactive-urls}" class="btn btn-secondary">Inactive URLs</a>
                </div>
            </div>

            <div id="messageContainer" style="display: none;" class="alert alert-danger"></div>

            <div class="url-shortening-section">
                <h3>Shorten a long URL</h3>
                <form id="urlShorteningForm" th:action="@{/create-short-url}" method="post">
                    <div class="form-group">
                        <label for="longUrl">Paste Original URL (will be validated through Google Web Risk API)</label>
                        <input type="url" id="longUrl" name="longUrl" class="form-control" placeholder="https://example.com/page" required>
                    </div>
                    <button type="button" id="validateOriginalUrlBtn" class="btn btn-info" style="margin-bottom: 10px;">Validate Original URL</button>
                    <div class="form-group">
                        <label for="backHalf">Enter a back-half or Click on Generate back-half</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="${baseUrl}"></span>
                            </div>
                            <input type="text" id="backHalf" name="backHalf" class="form-control" placeholder="my-short-link" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Generate ShortURL</button>
                        <button type="button" onclick="window.location.reload(true)" class="btn btn-secondary btn-refresh-spacing">Refresh</button>
                        <button type="button" id="validateBacklinkBtn" class="btn btn-info">Validate Back-half</button>
                        <button type="button" id="generateBacklinkBtn" class="btn btn-info">Generate Back-half</button>
                    </div>

                </form>
            </div>

            <div id="shortUrlDisplay" style="display: none;" class="short-url-display mb-3 bg-light p-3">
                <label class="bold" for="shortUrl">Your Short URL</label>
                <input type="text" id="shortUrl" class="form-control" readonly>
                <div class="button-group">
                    <button onclick="copyToClipboard()" class="btn btn-secondary mr-2">Copy URL</button>
                    <button id="downloadQRButton" onclick="downloadQRCode()" class="btn btn-secondary">Download QR</button>
                </div>
                <img id="qrCodeImg" src="" alt="QR Code" class="qr-code-img" style="display: none;">
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('urlShorteningForm').addEventListener('submit', function(event) {
        event.preventDefault();
        let originalUrl = document.getElementById('longUrl').value;
        let backHalf = document.getElementById('backHalf').value;
        let messageContainer = document.getElementById('messageContainer');
        let validPattern = /^[A-Za-z0-9-_]+$/;

        // First, validate the original URL
        fetch('/validate-original-url?url=' + encodeURIComponent(originalUrl))
            .then(response => response.json())
            .then(data => {
                if (!data.isValid) {
                    throw new Error('Original URL is not valid');
                }
                // Then, validate the backHalf
                if (!validPattern.test(backHalf)) {
                    throw new Error('Back-half is not valid');
                }
                let formData = new FormData(event.target);
                return fetch(event.target.action, {
                    method: 'POST',
                    body: formData
                });
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errData => Promise.reject(errData));
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('shortUrl').value = data.shortLink;
                document.getElementById('shortUrlDisplay').style.display = 'block';
                document.getElementById('downloadQRButton').setAttribute('href', 'data:image/png;base64,' + data.qrCode);
                document.getElementById('qrCodeImg').src = 'data:image/png;base64,' + data.qrCode;
                document.getElementById('qrCodeImg').style.display = 'block';
                messageContainer.textContent = '';
                messageContainer.style.display = 'none';
            })
            .catch(error => {
                if (error.message === 'Original URL is not valid' && !validPattern.test(backHalf)) {
                    messageContainer.textContent = 'Error: Both Original URL and Back-half are not valid.';
                } else if (error.message === 'Original URL is not valid') {
                    messageContainer.textContent = 'Error: Original URL is not valid.';
                } else if (!validPattern.test(backHalf)) {
                    messageContainer.textContent = 'Error: Back-half is not valid.';
                } else {
                    messageContainer.textContent = 'Error: ' + (error.error || 'An error occurred. Please try again.');
                }
                messageContainer.style.display = 'block';
            });
    });


    function copyToClipboard() {
        let shortUrl = document.getElementById('shortUrl');
        navigator.clipboard.writeText(shortUrl.value)
            .then(() => alert('Short URL copied to clipboard!'))
            .catch(err => alert('Could not copy text: ', err));
    }

    function downloadQRCode() {
        let qrCodeData = document.getElementById('downloadQRButton').getAttribute('href');
        let element = document.createElement('a');
        element.setAttribute('href', qrCodeData);
        element.setAttribute('download', 'qr-code.png');
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }

    document.getElementById('validateBacklinkBtn').addEventListener('click', function() {
        let backHalf = document.getElementById('backHalf').value;
        let messageContainer = document.getElementById('messageContainer');

        let validPattern = /^[A-Za-z0-9-_]+$/;
        if (!validPattern.test(backHalf)) {
            messageContainer.textContent = 'The back-half can only contain alphanumeric characters, hyphens, and underscores.';
            messageContainer.className = 'alert alert-danger';
            messageContainer.style.display = 'block';
            return; // Stop the function here if validation fails
        }

        let validateUrl = '/validate-backhalf?backHalf=' + encodeURIComponent(backHalf); // Correctly encoded URL

        fetch(validateUrl)
            .then(response => response.json())
            .then(data => {
                if(data.isValid && data.isAvailable) {
                    messageContainer.textContent = 'Yes, this Back-half is valid.';
                    messageContainer.className = 'alert alert-success';
                } else {
                    messageContainer.textContent = 'Back-half not valid or not available.';
                    messageContainer.className = 'alert alert-danger';
                }
                messageContainer.style.display = 'block';
            })
            .catch(err => {
                messageContainer.textContent = 'Error checking back-half: ' + err.message;
                messageContainer.className = 'alert alert-danger';
                messageContainer.style.display = 'block';
            });
    });


    document.getElementById('generateBacklinkBtn').addEventListener('click', function() {
        let messageContainer = document.getElementById('messageContainer');

        let generateUrl = '/generate-backhalf';

        fetch(generateUrl, { method: 'GET' })
            .then(response => response.json())
            .then(data => {
                if(data.backHalf) {
                    // Populate the backHalf input field with the generated back-half
                    document.getElementById('backHalf').value = data.backHalf;
                    messageContainer.textContent = 'Back-half generated successfully.';
                    messageContainer.className = 'alert alert-success';
                } else {
                    messageContainer.textContent = 'Unable to generate a back-half. Please try again.';
                    messageContainer.className = 'alert alert-danger';
                }
                messageContainer.style.display = 'block';
            })
            .catch(err => {
                messageContainer.textContent = 'Error generating back-half: ' + err.message;
                messageContainer.className = 'alert alert-danger';
                messageContainer.style.display = 'block';
            });
    });

    document.getElementById('validateOriginalUrlBtn').addEventListener('click', function() {
        let originalUrl = document.getElementById('longUrl').value;
        let messageContainer = document.getElementById('messageContainer');

        // Check if the original URL field is empty
        if (!originalUrl.trim()) {
            messageContainer.textContent = 'Please enter a URL first.';
            messageContainer.className = 'alert alert-warning';
            messageContainer.style.display = 'block';
            return; // Stop the function execution here
        }

        fetch('/validate-original-url?url=' + encodeURIComponent(originalUrl))
            .then(response => response.json())
            .then(data => {
                if (data.isValid) {
                    messageContainer.textContent = 'The original URL is safe.';
                    messageContainer.className = 'alert alert-success';
                } else {
                    messageContainer.textContent = 'The original URL is not valid or safe.';
                    messageContainer.className = 'alert alert-danger';
                }
                messageContainer.style.display = 'block';
            })
            .catch(err => {
                messageContainer.textContent = 'Error validating the URL: ' + err.message;
                messageContainer.className = 'alert alert-danger';
                messageContainer.style.display = 'block';
            });
    });




</script>

</body>
</html>
