<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyShortUrl</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- No need for th:href here since you are using a direct link -->
</head>
<body>
<header class="bg-info text-white text-center py-4">
    <h1>MyShortUrl</h1>
</header>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/login}" method="post" class="mb-4">
                        <h2>Login</h2>
                        <div class="form-group">
                            <input type="text" class="form-control mb-3" name="username" placeholder="Enter Username" required />
                            <input type="password" class="form-control" name="password" placeholder="Enter Password" required />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                        <!-- Display error message if present -->
                        <p th:if="${param.error}" class="text-danger text-center mt-3">Invalid username or password, please try again.</p>
                    </form>
                    <a href="/register" class="btn btn-info btn-block">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

</body>
</html>